<html>
    <head>
        <title>Pragya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Pragya's Blog</a></h1>
        </div>

        <div>
            <p>published: 21.05.2020, 13:03</p>
            <h2><a href="">My first post</a></h2>
            <p>COVID-19 outbreak</p>
        </div>

        <div>
            <p>published: 21.05.2020, 13:05</p>
            <h2><a href="">My second post</a></h2>
            <p>Covid-19 symptoms and care taken</p>
        </div>
    </body>
</html>